body {
    background: #fffaf4;
    font-family: IBM Plex Sans;
    background-image: url(../COVIDtracker/images/background_img.png);
   
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:px */
  }
  
  .Title {
    font-size: 23px;
    padding: 51px;
    margin-bottom: 2px;
    padding-bottom: 51px;
    font-family: IBM Plex Sans;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-top: -7px;
  }
  
  .img {
    margin-left: 20px;
  }
  .num {
    width: 105px;
    height: 26px;
    left: 128px;
    top: 475px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    font-weight: bold;
    color: #df3030;
    margin-left: 93px;
    margin-bottom: 52px;
  }
  
  .step {
    margin-left: 0px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #10242c;
    font-weight: bold;
  }
  
  .para {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #707a7c;
    padding-left: 25px;
    padding-right: 25px;
    
  }
  
  .bar {
    margin-left: 49px;
    margin-top: 27px;
  }
  
  .skip-btn {
    margin-top: 36px;
    margin-left: 32px;
  
    width: 33px;
    height: 12px;
    left: 44px;
    top: 763px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 80.5%;
    text-align: center;
    border: none;
    color: #000000;
    background-color:#fffaf4 ;
  }
  
  .next-btn{
    margin-left: 215px;
    width: 33px;
    height: 12px;
    left: 44px;
    top: 763px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 80.5%;
    text-align: center;
    border: none;
    color: #000000;
    background-color:#fffaf4 ;
    text-decoration-line: underline;
  }